OBLMobileAppApi/OBLMobileAppApi/Service References/FCUBSAccService/FCUBSAccService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://types.ws.gw.fcubs.ofss.com" name="FCUBSAccService" targetNamespace="http://types.ws.gw.fcubs.ofss.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://10.156.0.57:7001/FCUBSAccService/FCUBSAccService?xsd=1" namespace="http://fcubs.ofss.com/service/FCUBSAccService" />
    </xsd:schema>
  </types>
  <message name="AuthorizeAcClassTfrFS">
    <part xmlns:ns1="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns1:AUTHORIZEACCLASSTFR_FSFS_REQ" />
  </message>
  <message name="AuthorizeAcClassTfrFSResponse">
    <part xmlns:ns2="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns2:AUTHORIZEACCLASSTFR_FSFS_RES" />
  </message>
  <message name="AuthorizeAcClassTfrIO">
    <part xmlns:ns3="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns3:AUTHORIZEACCLASSTFR_IOPK_REQ" />
  </message>
  <message name="AuthorizeAcClassTfrIOResponse">
    <part xmlns:ns4="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns4:AUTHORIZEACCLASSTFR_IOPK_RES" />
  </message>
  <message name="AuthorizeCustAccFS">
    <part xmlns:ns5="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns5:AUTHORIZECUSTACC_FSFS_REQ" />
  </message>
  <message name="AuthorizeCustAccFSResponse">
    <part xmlns:ns6="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns6:AUTHORIZECUSTACC_FSFS_RES" />
  </message>
  <message name="AuthorizeCustAccIO">
    <part xmlns:ns7="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns7:AUTHORIZECUSTACC_IOPK_REQ" />
  </message>
  <message name="AuthorizeCustAccIOResponse">
    <part xmlns:ns8="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns8:AUTHORIZECUSTACC_IOPK_RES" />
  </message>
  <message name="CheckBookAuthoriseFS">
    <part xmlns:ns9="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns9:CHECKBOOKAUTHORISE_FSFS_REQ" />
  </message>
  <message name="CheckBookAuthoriseFSResponse">
    <part xmlns:ns10="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns10:CHECKBOOKAUTHORISE_FSFS_RES" />
  </message>
  <message name="CheckBookAuthoriseIO">
    <part xmlns:ns11="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns11:CHECKBOOKAUTHORISE_IOPK_REQ" />
  </message>
  <message name="CheckBookAuthoriseIOResponse">
    <part xmlns:ns12="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns12:CHECKBOOKAUTHORISE_IOPK_RES" />
  </message>
  <message name="CheckBookDeleteFS">
    <part xmlns:ns13="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns13:CHECKBOOKDELETE_FSFS_REQ" />
  </message>
  <message name="CheckBookDeleteFSResponse">
    <part xmlns:ns14="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns14:CHECKBOOKDELETE_FSFS_RES" />
  </message>
  <message name="CheckBookDeleteIO">
    <part xmlns:ns15="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns15:CHECKBOOKDELETE_IOPK_REQ" />
  </message>
  <message name="CheckBookDeleteIOResponse">
    <part xmlns:ns16="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns16:CHECKBOOKDELETE_IOPK_RES" />
  </message>
  <message name="CheckBookModifyFS">
    <part xmlns:ns17="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns17:CHECKBOOKMODIFY_FSFS_REQ" />
  </message>
  <message name="CheckBookModifyFSResponse">
    <part xmlns:ns18="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns18:CHECKBOOKMODIFY_FSFS_RES" />
  </message>
  <message name="CheckBookModifyIO">
    <part xmlns:ns19="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns19:CHECKBOOKMODIFY_IOPK_REQ" />
  </message>
  <message name="CheckBookModifyIOResponse">
    <part xmlns:ns20="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns20:CHECKBOOKMODIFY_IOPK_RES" />
  </message>
  <message name="CheckBookNewFS">
    <part xmlns:ns21="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns21:CHECKBOOKNEW_FSFS_REQ" />
  </message>
  <message name="CheckBookNewFSResponse">
    <part xmlns:ns22="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns22:CHECKBOOKNEW_FSFS_RES" />
  </message>
  <message name="CheckBookNewIO">
    <part xmlns:ns23="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns23:CHECKBOOKNEW_IOPK_REQ" />
  </message>
  <message name="CheckBookNewIOResponse">
    <part xmlns:ns24="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns24:CHECKBOOKNEW_IOPK_RES" />
  </message>
  <message name="CheckBookQueryIO">
    <part xmlns:ns25="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns25:CHECKBOOKQUERY_IOFS_REQ" />
  </message>
  <message name="CheckBookQueryIOResponse">
    <part xmlns:ns26="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns26:CHECKBOOKQUERY_IOFS_RES" />
  </message>
  <message name="CheckDetailsQueryIO">
    <part xmlns:ns27="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns27:CHECKDETAILSQUERY_IOFS_REQ" />
  </message>
  <message name="CheckDetailsQueryIOResponse">
    <part xmlns:ns28="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns28:CHECKDETAILSQUERY_IOFS_RES" />
  </message>
  <message name="CloseCustAccFS">
    <part xmlns:ns29="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns29:CLOSECUSTACC_FSFS_REQ" />
  </message>
  <message name="CloseCustAccFSResponse">
    <part xmlns:ns30="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns30:CLOSECUSTACC_FSFS_RES" />
  </message>
  <message name="CloseCustAccIO">
    <part xmlns:ns31="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns31:CLOSECUSTACC_IOPK_REQ" />
  </message>
  <message name="CloseCustAccIOResponse">
    <part xmlns:ns32="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns32:CLOSECUSTACC_IOPK_RES" />
  </message>
  <message name="CreateAcClassTfrFS">
    <part xmlns:ns33="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns33:CREATEACCLASSTFR_FSFS_REQ" />
  </message>
  <message name="CreateAcClassTfrFSResponse">
    <part xmlns:ns34="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns34:CREATEACCLASSTFR_FSFS_RES" />
  </message>
  <message name="CreateAcClassTfrIO">
    <part xmlns:ns35="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns35:CREATEACCLASSTFR_IOPK_REQ" />
  </message>
  <message name="CreateAcClassTfrIOResponse">
    <part xmlns:ns36="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns36:CREATEACCLASSTFR_IOPK_RES" />
  </message>
  <message name="CreateCustAccFS">
    <part xmlns:ns37="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns37:CREATECUSTACC_FSFS_REQ" />
  </message>
  <message name="CreateCustAccFSResponse">
    <part xmlns:ns38="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns38:CREATECUSTACC_FSFS_RES" />
  </message>
  <message name="CreateCustAccIO">
    <part xmlns:ns39="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns39:CREATECUSTACC_IOPK_REQ" />
  </message>
  <message name="CreateCustAccIOResponse">
    <part xmlns:ns40="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns40:CREATECUSTACC_IOPK_RES" />
  </message>
  <message name="CreateTDSimFS">
    <part xmlns:ns41="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns41:CREATETDSIM_FSFS_REQ" />
  </message>
  <message name="CreateTDSimFSResponse">
    <part xmlns:ns42="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns42:CREATETDSIM_FSFS_RES" />
  </message>
  <message name="CreateTDSimIO">
    <part xmlns:ns43="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns43:CREATETDSIM_IOPK_REQ" />
  </message>
  <message name="CreateTDSimIOResponse">
    <part xmlns:ns44="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns44:CREATETDSIM_IOPK_RES" />
  </message>
  <message name="DeleteAcClassTfrFS">
    <part xmlns:ns45="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns45:DELETEACCLASSTFR_FSFS_REQ" />
  </message>
  <message name="DeleteAcClassTfrFSResponse">
    <part xmlns:ns46="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns46:DELETEACCLASSTFR_FSFS_RES" />
  </message>
  <message name="DeleteAcClassTfrIO">
    <part xmlns:ns47="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns47:DELETEACCLASSTFR_IOPK_REQ" />
  </message>
  <message name="DeleteAcClassTfrIOResponse">
    <part xmlns:ns48="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns48:DELETEACCLASSTFR_IOPK_RES" />
  </message>
  <message name="DeleteCustAccFS">
    <part xmlns:ns49="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns49:DELETECUSTACC_FSFS_REQ" />
  </message>
  <message name="DeleteCustAccFSResponse">
    <part xmlns:ns50="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns50:DELETECUSTACC_FSFS_RES" />
  </message>
  <message name="DeleteCustAccIO">
    <part xmlns:ns51="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns51:DELETECUSTACC_IOPK_REQ" />
  </message>
  <message name="DeleteCustAccIOResponse">
    <part xmlns:ns52="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns52:DELETECUSTACC_IOPK_RES" />
  </message>
  <message name="ModifyAcClassTfrFS">
    <part xmlns:ns53="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns53:MODIFYACCLASSTFR_FSFS_REQ" />
  </message>
  <message name="ModifyAcClassTfrFSResponse">
    <part xmlns:ns54="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns54:MODIFYACCLASSTFR_FSFS_RES" />
  </message>
  <message name="ModifyAcClassTfrIO">
    <part xmlns:ns55="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns55:MODIFYACCLASSTFR_IOPK_REQ" />
  </message>
  <message name="ModifyAcClassTfrIOResponse">
    <part xmlns:ns56="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns56:MODIFYACCLASSTFR_IOPK_RES" />
  </message>
  <message name="ModifyCustAccFS">
    <part xmlns:ns57="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns57:MODIFYCUSTACC_FSFS_REQ" />
  </message>
  <message name="ModifyCustAccFSResponse">
    <part xmlns:ns58="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns58:MODIFYCUSTACC_FSFS_RES" />
  </message>
  <message name="ModifyCustAccIO">
    <part xmlns:ns59="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns59:MODIFYCUSTACC_IOPK_REQ" />
  </message>
  <message name="ModifyCustAccIOResponse">
    <part xmlns:ns60="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns60:MODIFYCUSTACC_IOPK_RES" />
  </message>
  <message name="QueryAcClassTfrIO">
    <part xmlns:ns61="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns61:QUERYACCLASSTFR_IOFS_REQ" />
  </message>
  <message name="QueryAcClassTfrIOResponse">
    <part xmlns:ns62="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns62:QUERYACCLASSTFR_IOFS_RES" />
  </message>
  <message name="QueryAccBalIO">
    <part xmlns:ns63="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns63:QUERYACCBAL_IOFS_REQ" />
  </message>
  <message name="QueryAccBalIOResponse">
    <part xmlns:ns64="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns64:QUERYACCBAL_IOFS_RES" />
  </message>
  <message name="QueryAccSummIO">
    <part xmlns:ns65="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns65:QUERYACCSUMM_IOFS_REQ" />
  </message>
  <message name="QueryAccSummIOResponse">
    <part xmlns:ns66="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns66:QUERYACCSUMM_IOFS_RES" />
  </message>
  <message name="QueryCustAccIO">
    <part xmlns:ns67="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns67:QUERYCUSTACC_IOFS_REQ" />
  </message>
  <message name="QueryCustAccIOResponse">
    <part xmlns:ns68="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns68:QUERYCUSTACC_IOFS_RES" />
  </message>
  <message name="QueryGenAdviceIO">
    <part xmlns:ns69="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns69:QUERYGENADVICE_IOFS_REQ" />
  </message>
  <message name="QueryGenAdviceIOResponse">
    <part xmlns:ns70="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns70:QUERYGENADVICE_IOFS_RES" />
  </message>
  <message name="ReopenCustAccFS">
    <part xmlns:ns71="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns71:REOPENCUSTACC_FSFS_REQ" />
  </message>
  <message name="ReopenCustAccFSResponse">
    <part xmlns:ns72="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns72:REOPENCUSTACC_FSFS_RES" />
  </message>
  <message name="ReopenCustAccIO">
    <part xmlns:ns73="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns73:REOPENCUSTACC_IOPK_REQ" />
  </message>
  <message name="ReopenCustAccIOResponse">
    <part xmlns:ns74="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns74:REOPENCUSTACC_IOPK_RES" />
  </message>
  <message name="StopPaymentsAuthorizeFS">
    <part xmlns:ns75="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns75:STOPPAYMENTSAUTHORIZE_FSFS_REQ" />
  </message>
  <message name="StopPaymentsAuthorizeFSResponse">
    <part xmlns:ns76="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns76:STOPPAYMENTSAUTHORIZE_FSFS_RES" />
  </message>
  <message name="StopPaymentsAuthorizeIO">
    <part xmlns:ns77="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns77:STOPPAYMENTSAUTHORIZE_IOPK_REQ" />
  </message>
  <message name="StopPaymentsAuthorizeIOResponse">
    <part xmlns:ns78="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns78:STOPPAYMENTSAUTHORIZE_IOPK_RES" />
  </message>
  <message name="StopPaymentsDeleteFS">
    <part xmlns:ns79="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns79:STOPPAYMENTSDELETE_FSFS_REQ" />
  </message>
  <message name="StopPaymentsDeleteFSResponse">
    <part xmlns:ns80="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns80:STOPPAYMENTSDELETE_FSFS_RES" />
  </message>
  <message name="StopPaymentsDeleteIO">
    <part xmlns:ns81="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns81:STOPPAYMENTSDELETE_IOPK_REQ" />
  </message>
  <message name="StopPaymentsDeleteIOResponse">
    <part xmlns:ns82="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns82:STOPPAYMENTSDELETE_IOPK_RES" />
  </message>
  <message name="StopPaymentsModifyFS">
    <part xmlns:ns83="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns83:STOPPAYMENTSMODIFY_FSFS_REQ" />
  </message>
  <message name="StopPaymentsModifyFSResponse">
    <part xmlns:ns84="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns84:STOPPAYMENTSMODIFY_FSFS_RES" />
  </message>
  <message name="StopPaymentsModifyIO">
    <part xmlns:ns85="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns85:STOPPAYMENTSMODIFY_IOPK_REQ" />
  </message>
  <message name="StopPaymentsModifyIOResponse">
    <part xmlns:ns86="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns86:STOPPAYMENTSMODIFY_IOPK_RES" />
  </message>
  <message name="StopPaymentsNewFS">
    <part xmlns:ns87="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns87:STOPPAYMENTSNEW_FSFS_REQ" />
  </message>
  <message name="StopPaymentsNewFSResponse">
    <part xmlns:ns88="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns88:STOPPAYMENTSNEW_FSFS_RES" />
  </message>
  <message name="StopPaymentsNewIO">
    <part xmlns:ns89="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns89:STOPPAYMENTSNEW_IOPK_REQ" />
  </message>
  <message name="StopPaymentsNewIOResponse">
    <part xmlns:ns90="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns90:STOPPAYMENTSNEW_IOPK_RES" />
  </message>
  <message name="StopPaymentsQueryIO">
    <part xmlns:ns91="http://fcubs.ofss.com/service/FCUBSAccService" name="RequestMsg" element="ns91:STOPPAYMENTSQUERY_IOFS_REQ" />
  </message>
  <message name="StopPaymentsQueryIOResponse">
    <part xmlns:ns92="http://fcubs.ofss.com/service/FCUBSAccService" name="ResponseMsg" element="ns92:STOPPAYMENTSQUERY_IOFS_RES" />
  </message>
  <portType name="FCUBSAccServiceSEI">
    <operation name="AuthorizeAcClassTfrFS">
      <input message="tns:AuthorizeAcClassTfrFS" />
      <output message="tns:AuthorizeAcClassTfrFSResponse" />
    </operation>
    <operation name="AuthorizeAcClassTfrIO">
      <input message="tns:AuthorizeAcClassTfrIO" />
      <output message="tns:AuthorizeAcClassTfrIOResponse" />
    </operation>
    <operation name="AuthorizeCustAccFS">
      <input message="tns:AuthorizeCustAccFS" />
      <output message="tns:AuthorizeCustAccFSResponse" />
    </operation>
    <operation name="AuthorizeCustAccIO">
      <input message="tns:AuthorizeCustAccIO" />
      <output message="tns:AuthorizeCustAccIOResponse" />
    </operation>
    <operation name="CheckBookAuthoriseFS">
      <input message="tns:CheckBookAuthoriseFS" />
      <output message="tns:CheckBookAuthoriseFSResponse" />
    </operation>
    <operation name="CheckBookAuthoriseIO">
      <input message="tns:CheckBookAuthoriseIO" />
      <output message="tns:CheckBookAuthoriseIOResponse" />
    </operation>
    <operation name="CheckBookDeleteFS">
      <input message="tns:CheckBookDeleteFS" />
      <output message="tns:CheckBookDeleteFSResponse" />
    </operation>
    <operation name="CheckBookDeleteIO">
      <input message="tns:CheckBookDeleteIO" />
      <output message="tns:CheckBookDeleteIOResponse" />
    </operation>
    <operation name="CheckBookModifyFS">
      <input message="tns:CheckBookModifyFS" />
      <output message="tns:CheckBookModifyFSResponse" />
    </operation>
    <operation name="CheckBookModifyIO">
      <input message="tns:CheckBookModifyIO" />
      <output message="tns:CheckBookModifyIOResponse" />
    </operation>
    <operation name="CheckBookNewFS">
      <input message="tns:CheckBookNewFS" />
      <output message="tns:CheckBookNewFSResponse" />
    </operation>
    <operation name="CheckBookNewIO">
      <input message="tns:CheckBookNewIO" />
      <output message="tns:CheckBookNewIOResponse" />
    </operation>
    <operation name="CheckBookQueryIO">
      <input message="tns:CheckBookQueryIO" />
      <output message="tns:CheckBookQueryIOResponse" />
    </operation>
    <operation name="CheckDetailsQueryIO">
      <input message="tns:CheckDetailsQueryIO" />
      <output message="tns:CheckDetailsQueryIOResponse" />
    </operation>
    <operation name="CloseCustAccFS">
      <input message="tns:CloseCustAccFS" />
      <output message="tns:CloseCustAccFSResponse" />
    </operation>
    <operation name="CloseCustAccIO">
      <input message="tns:CloseCustAccIO" />
      <output message="tns:CloseCustAccIOResponse" />
    </operation>
    <operation name="CreateAcClassTfrFS">
      <input message="tns:CreateAcClassTfrFS" />
      <output message="tns:CreateAcClassTfrFSResponse" />
    </operation>
    <operation name="CreateAcClassTfrIO">
      <input message="tns:CreateAcClassTfrIO" />
      <output message="tns:CreateAcClassTfrIOResponse" />
    </operation>
    <operation name="CreateCustAccFS">
      <input message="tns:CreateCustAccFS" />
      <output message="tns:CreateCustAccFSResponse" />
    </operation>
    <operation name="CreateCustAccIO">
      <input message="tns:CreateCustAccIO" />
      <output message="tns:CreateCustAccIOResponse" />
    </operation>
    <operation name="CreateTDSimFS">
      <input message="tns:CreateTDSimFS" />
      <output message="tns:CreateTDSimFSResponse" />
    </operation>
    <operation name="CreateTDSimIO">
      <input message="tns:CreateTDSimIO" />
      <output message="tns:CreateTDSimIOResponse" />
    </operation>
    <operation name="DeleteAcClassTfrFS">
      <input message="tns:DeleteAcClassTfrFS" />
      <output message="tns:DeleteAcClassTfrFSResponse" />
    </operation>
    <operation name="DeleteAcClassTfrIO">
      <input message="tns:DeleteAcClassTfrIO" />
      <output message="tns:DeleteAcClassTfrIOResponse" />
    </operation>
    <operation name="DeleteCustAccFS">
      <input message="tns:DeleteCustAccFS" />
      <output message="tns:DeleteCustAccFSResponse" />
    </operation>
    <operation name="DeleteCustAccIO">
      <input message="tns:DeleteCustAccIO" />
      <output message="tns:DeleteCustAccIOResponse" />
    </operation>
    <operation name="ModifyAcClassTfrFS">
      <input message="tns:ModifyAcClassTfrFS" />
      <output message="tns:ModifyAcClassTfrFSResponse" />
    </operation>
    <operation name="ModifyAcClassTfrIO">
      <input message="tns:ModifyAcClassTfrIO" />
      <output message="tns:ModifyAcClassTfrIOResponse" />
    </operation>
    <operation name="ModifyCustAccFS">
      <input message="tns:ModifyCustAccFS" />
      <output message="tns:ModifyCustAccFSResponse" />
    </operation>
    <operation name="ModifyCustAccIO">
      <input message="tns:ModifyCustAccIO" />
      <output message="tns:ModifyCustAccIOResponse" />
    </operation>
    <operation name="QueryAcClassTfrIO">
      <input message="tns:QueryAcClassTfrIO" />
      <output message="tns:QueryAcClassTfrIOResponse" />
    </operation>
    <operation name="QueryAccBalIO">
      <input message="tns:QueryAccBalIO" />
      <output message="tns:QueryAccBalIOResponse" />
    </operation>
    <operation name="QueryAccSummIO">
      <input message="tns:QueryAccSummIO" />
      <output message="tns:QueryAccSummIOResponse" />
    </operation>
    <operation name="QueryCustAccIO">
      <input message="tns:QueryCustAccIO" />
      <output message="tns:QueryCustAccIOResponse" />
    </operation>
    <operation name="QueryGenAdviceIO">
      <input message="tns:QueryGenAdviceIO" />
      <output message="tns:QueryGenAdviceIOResponse" />
    </operation>
    <operation name="ReopenCustAccFS">
      <input message="tns:ReopenCustAccFS" />
      <output message="tns:ReopenCustAccFSResponse" />
    </operation>
    <operation name="ReopenCustAccIO">
      <input message="tns:ReopenCustAccIO" />
      <output message="tns:ReopenCustAccIOResponse" />
    </operation>
    <operation name="StopPaymentsAuthorizeFS">
      <input message="tns:StopPaymentsAuthorizeFS" />
      <output message="tns:StopPaymentsAuthorizeFSResponse" />
    </operation>
    <operation name="StopPaymentsAuthorizeIO">
      <input message="tns:StopPaymentsAuthorizeIO" />
      <output message="tns:StopPaymentsAuthorizeIOResponse" />
    </operation>
    <operation name="StopPaymentsDeleteFS">
      <input message="tns:StopPaymentsDeleteFS" />
      <output message="tns:StopPaymentsDeleteFSResponse" />
    </operation>
    <operation name="StopPaymentsDeleteIO">
      <input message="tns:StopPaymentsDeleteIO" />
      <output message="tns:StopPaymentsDeleteIOResponse" />
    </operation>
    <operation name="StopPaymentsModifyFS">
      <input message="tns:StopPaymentsModifyFS" />
      <output message="tns:StopPaymentsModifyFSResponse" />
    </operation>
    <operation name="StopPaymentsModifyIO">
      <input message="tns:StopPaymentsModifyIO" />
      <output message="tns:StopPaymentsModifyIOResponse" />
    </operation>
    <operation name="StopPaymentsNewFS">
      <input message="tns:StopPaymentsNewFS" />
      <output message="tns:StopPaymentsNewFSResponse" />
    </operation>
    <operation name="StopPaymentsNewIO">
      <input message="tns:StopPaymentsNewIO" />
      <output message="tns:StopPaymentsNewIOResponse" />
    </operation>
    <operation name="StopPaymentsQueryIO">
      <input message="tns:StopPaymentsQueryIO" />
      <output message="tns:StopPaymentsQueryIOResponse" />
    </operation>
  </portType>
  <binding name="FCUBSAccServiceSEIBinding" type="tns:FCUBSAccServiceSEI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="AuthorizeAcClassTfrFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AuthorizeAcClassTfrIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AuthorizeCustAccFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AuthorizeCustAccIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckBookAuthoriseFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckBookAuthoriseIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckBookDeleteFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckBookDeleteIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckBookModifyFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckBookModifyIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckBookNewFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckBookNewIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckBookQueryIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CheckDetailsQueryIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CloseCustAccFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CloseCustAccIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateAcClassTfrFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateAcClassTfrIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateCustAccFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateCustAccIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateTDSimFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CreateTDSimIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteAcClassTfrFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteAcClassTfrIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteCustAccFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="DeleteCustAccIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModifyAcClassTfrFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModifyAcClassTfrIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModifyCustAccFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ModifyCustAccIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAcClassTfrIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAccBalIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryAccSummIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryCustAccIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="QueryGenAdviceIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReopenCustAccFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReopenCustAccIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StopPaymentsAuthorizeFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StopPaymentsAuthorizeIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StopPaymentsDeleteFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StopPaymentsDeleteIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StopPaymentsModifyFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StopPaymentsModifyIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StopPaymentsNewFS">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StopPaymentsNewIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="StopPaymentsQueryIO">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="FCUBSAccService">
    <port name="FCUBSAccServiceSEI" binding="tns:FCUBSAccServiceSEIBinding">
      <soap:address location="http://10.156.0.57:7001/FCUBSAccService/FCUBSAccService" />
    </port>
  </service>
</definitions>